<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/assets/icon.svg" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <title> AnnoTEP </title>

	<script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>
	<div class="menuMobile">
		<i class="ph-bold ph-list"></i>
	</div>

	<aside class="aside">
		<!--
		<div class="menu-side">
			<img class="btn-expand" id="btn-expand" src="assets/Vector.svg">
		</div>
		-->
		<ul id="menu">
			<div class="logoAnnotep">
					<img src="static/assets/icon.svg" alt="Logo do Annotep">
			</div>
			<li class="li open" id="Home">
				<img class="home-icon" src="static/assets/home.svg">
				<spam class="txt-link">Home</spam>
			</li>
			<li class="li" id="Download">
				<img class="download-icon" src="static/assets/download.svg">
				<spam class="txt-link">Download</spam>
			</li>
			<li class="li" id="Help">
				<img class="help-icon" src="static/assets/QuestionCircle.svg">
				<spam class="txt-link"> Help </spam>
			</li>
			<li class="li" id="About">
				<img class="about-icon" src="static/assets/InfoCircle.svg">
				<spam class="txt-link"> About </spam>
			</li>
			<li class="li" id="Contact">
				<img class="contact-icon" src="static/assets/contact-us.svg">
				<spam class="txt-link"> Contact </spam>
			</li>
		</ul>
	</aside>

	<div class="cloudImageWrapper">
		<img id="cloudImage" class="replace" src="static/assets/CloudMoon.svg">
	</div>

	<main class="main sectionsPage">
		<header class="header">
			<section class="container-header">
				<img id="logoImage" class="logo" src="static/assets/Logo.svg" alt="Logo TEP"/>
			</section>
		</header>

		<section class="container-main">
			<article class="description-screen">
				<p> AnnoTEP is a platform for annotating transposable elements in plants. Using an input file in <span>fasta</span> format containing the plant genome on a chromosomal scale, it is possible to obtain:</p>
			</article>

			<section class="container-explicative">
				<div class="box-explicative">
					<img class="img-dna" src="static/assets/dna-icon.svg">
					<span class="be1"><b>Annotation</b> of SINEs and LINEs elements. </span>
				</div>
				<div class="box-explicative">
					<img class="img-phylogeny" src="static/assets/phylogeny.svg">
					<span class="be2"> <b>Data visualization</b> in graph format and phylogenetic trees. </span>
				</div>
				<div class="box-explicative box-email">
					<img class="img-email" src="static/assets/email-icon-light.svg">
					<span class="be3">A link with the results is sent <br> directly to your email. </span>
				</div>
				<div class="box-explicative box-file-results">
					<img class="img-file-results" src="static/assets/file-results.svg">
					<span class="be4">  
						Representative example of complete annotation.
						<a href="{{ url_for('result_example')}}" class="click-here be3" target="_blank"> Click here </a>
					</span>	
				</div>
				
			</section>
			<div class="rectangle">
				<div class="rectangle-green"></div>
			</div>
		</section>

		<section class="container-data-input">
			<div class="title-input">
				<p>Data input</p>
			</div>
			<section class="container-email">
				<div class="session-title">
					<p>Email Adress </p>
					<div class="session-icon session-email-icon">
						<span class="open-tab open-tab-email"> Through the provided email address, you will receive notifications indicating the commencement and completion of the annotation process. </span>
						<img class="icon-help" src="static/assets/QuestionDiamond-light.svg"/>
					</div>
				</div>
					<input id="email" class="email" type="email" pattern=".com" placeholder="enter email" onfocus="clearPlaceholder(this)" required/> 
			</section>

			<section class="container-genome">
				<div class="session-title">
					<p>Genome data</p>
					<div class="session-icon session-genome-icon">
						<span class="open-tab open-tab-genome"> Select the genomic data for the plant species you wish to analyze; ensure that the data is formatted in the .fasta file format. </span>
						<img class="icon-help" src="static/assets/QuestionDiamond-light.svg"/>
					</div>
				</div>
				<div class="box-input">
					<input type="text" id="fileNameInput" class="input-text" readonly disabled>

					<label for="inputdata" class="file-input">
						<p class="name-btn">Browser</p>
						  <input type="file" class="input-data" accept=".fasta" id="inputdata" onchange="updateFileName()">
					</label>
				</div>
			</section>
	
			<section class="container-action">
				<div class="session-title">
					<p>Type annotation</p>
					<div class="session-icon session-annotation-icon">
						<span class="open-tab open-tab-annotation"> 
							The annotation process for SINE and LINE elements involves providing concise, compressed data about the elements. <br>
							The complete annotation goes further, conducting a thorough analysis. It not only includes compressed data on SINEs and LINEs, but also incorporates graphical representations, phylogenetic trees and descriptive tables, providing a more nuanced understanding of these elements.</span>
						<img class="icon-help" src="static/assets/QuestionDiamond-light.svg"/>
					</div>
				</div>
				<div class="box-checkboxs">
					<div class="container-checkbox">
						<input type="checkbox" id="sine" name="sine" class="checkbox" checked>
						<label for="sine">SINE annotation</label>
					</div>
					<div class="container-checkbox">
						<input type="checkbox" id="line" name="line" class="checkbox">
						<label for="line">LINE annotation</label>
					</div>
					<div class="container-checkbox">
						<input type="checkbox" id="complete" name="complete" class="checkbox">
						<label for="complete">Complete annotation</label>
					</div>	  
				</div>	
			</section>
	
			<div class="container-submit">
				<button type="button" id="uploaddata" class="uploaddata" disabled> Submit </button>
			</div>

		</section>

		<section id="myModal" class="modal">
			<div class="modal-content">
			  	<span class="close">&times;</span>
			  	<div class="container-notification">
					<p class="session-title session-modal">
				  		Annotation and analysis process
					</p>
					<div class="box-information">
				  		<p>The annotation process has started</p>
				  		<p>A confirmation email has been sent to your inbox containing further instructions.</p>
					</div>
			  	</div>
			</div>
		</section>

		<footer class="footer">
			<div class="cite-us">
				Results are saved in the database for up to 48 hours. 
				We recommend users to run a maximum of two jobs at a time. 
				For private work or work with a large amount of data, 
				we recommend downloading AnnoTEP. If you have found AnnoTEP 
				useful, please <a href=""> cite us </a>
			</div>
		</footer>
	</main>

	<main class="Download">
		<header class="header">
			<section class="container-header">
				<img id="logoImage" class="logo" src="static/assets/Logo.svg" alt="Logo TEP"/>
			</section>
		</header>

		<section class="container-data-input">
			<div class="title-input title-download">
				<p>Local Server</p>
			</div>
			<section class="box-download">
				<div class="item-download">
					<img class="doc-icon" src="../static/assets/doc.svg">
					<p> Annotep_local_server_v1.sh </p>
				</div>
				<button class="icon-download">
					<img class="sh-download" src="../static/assets/icon-download.svg">
				</button>
			</section>
			
			<div class="title-input title-download">
				<p>Local Terminal</p>
			</div>
			<section class="box-download">
				<div class="item-download">
					<img class="doc-icon" src="../static/assets/doc.svg">
					<p>Annotep_local_terminal_v1.sh</p>
				</div>
				<button class="icon-download">
					<img class="sh-download" src="../static/assets/icon-download.svg">
				</button>
			</section>

			<div class="description-download">
				<h3>Note: </h3>
				<p>
					To install the local version of AnnoTEP, you must have the <a href="https://docs.docker.com/engine/install/" target="_blank"> docker tool installed </a> on your machine. <br>
					Access the <img class="help-apresentation" src="static/assets/QuestionCircle-1.svg"> <span>Help</span> tab to obtain more information about the installation, operation and usability of the local AnnoTEP.
				</p>
			</div>
		</secz>
	</main> 	

	<main class="Help">
		<header class="header">
			<section class="container-header">
				<img id="logoImage" class="logo" src="static/assets/Logo.svg" alt="Logo TEP"/>
			</section>
		</header>
		<section class="documentation-annotep">
			<h3> AnnoTEP documentation - <span>Anno</span>tation <span>T</span>ransposaspanle <span>E</span>lements for <span>P</span>lants </h3>
			<br>
			<p class="documentation-introducion">
				Welcome to the AnnoTEP documentation. <br>
				<br>
				The AnnoTEP framework has been developed to facilitate the annotation of transposable elements in plant genomes and to provide essential support to 
				the scientific community involved in research centered on these elements. <br>
				<br>
				Transposable elements (TEs) are mobile genetic elements that have the ability to move around the genome, inserting themselves into different regions. 
				Also referred to as "jumping genes", mobile genetic elements (MGEs) or insertion elements (ISs), they constitute a category of genetic sequences that 
				play a fundamental role in the evolution and genomic dynamics of organisms. Their intrinsic ability to move within the genome, either by RNA-mediated 
				retrotransposition (Class I or Retrotransposons), using the "copy and paste" mechanism, or by direct DNA transposition (Class II or Transposons), using 
				the "cut and paste" or "copy and paste" mechanism, gives these elements a remarkable influence on evolutionary processes and genomic plasticity. <br>
				<br>
				The platform covers various characteristics of TEs and presents the results in the form of detailed reports, informative graphs and phylogenetic trees. 
				It provides visual resources to enrich the analysis and allow a more complete understanding of the evolutionary dynamics of these genomic sequences. <br>
				<br>
			</p>

			<h3> Como utilizar a plataforma</h3>
			<br>
			<section class="documentation-session-user">
				<p>
					Esta seção apresenta de forma detalhada as etapas necessárias para submeter dados à anotação de elementos transponíveis no servidor web. <br>
				</p>

				<h4>Mantendo-se informado sobre o processo de anotação </h4>
				<p>
					Para iniciar o processo de anotação e obter informações sobre o andamento do seu trabalho, é necessário fornecer seu endereço de e-mail no painel 
					correspondente. 
				</p>
				<img src="../static/assets-fixo/email.png" alt="box-email">
				<p>
					Após a submissão, você receberá um e-mail de confirmação e, posteriormente, um segundo e-mail será enviado assim que o processo de anotação for 
					concluído, este e-mail iŕa conter um link para a saídas dos dados analisados. Caso ocorra algum erro durante a análise, você também receberá um 
					e-mail contendo explicações sobre o ocorrido.

					É importante observar que, ao receber o segundo e-mail com o link para seu trabalho anotado, você terá um prazo de 48 horas para acessar e revisar 
					os resultados, após esse prazo esses dados são excluidos do banco de dados. <br>
				</p>

				<h4>Inserindo os dados de entrada </h4>
				<p>
					A entrada de dados ideal e aceita pela plataforma AnnoTEP é são arquivos no formato FASTA contendo os cromossomos dos genomas de plantas.
					O painel "Genome Data" permite a você selecionar o arquivo em sua máquina.
				</p>
				<img src="../static/assets-fixo/genome.png" alt="box-email">
				<br>

				<h4> Sistemas de anotações </h4>
				<p>
					Antes de submeter suas anotações é necessário escolher que tipo de anotação você deseja realizar, por padrão a anotação SINE já vem selecionada, então
					confirar as marcações antes de enviar seus dados.
				</p>
				<img src="../static/assets-fixo/anotação.png" alt="box-email">
				<p> O sistemas de anotação é divido em quatro tipos de anotações diferentes ... </p>

			</section>
		</section>
	</main>	

	<main class="About">
		<h1>About</h1>
	</main>

	<main class="Contact">
		<h1>Contact</h1>
	</main>

	<script type="text/javascript" src="{{ url_for('static', filename='scripts/main/main.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/main/style.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/main/dark-theme.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/main/modal.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/main/pages.js') }}"></script>
</body>
</html>
