<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../static/css/process-union.css" />
    <title>TEP - Status Union</title>
</head>
<body>
	<header>
		<section class="container-header">
			<img class="logo" src="../static/assets/logo.svg" alt="Logo TEP"/>

			<nav class="navigating">
				<div class="box-icon">
					<img class="nav-icon" src="../static/assets/icon_download.svg"/>
					<a class="link" href=""> Download </a>
				</div>
				<div class="box-icon">
					<img class="nav-icon" src="../static/assets/icon_info.svg"/>
					<a class="link" href=""> About </a>
				</div>
				<div class="box-icon">
					<img class="nav-icon" src="../static/assets/icon_message.svg"/>
					<a class="link" href=""> Help </a>
				</div>
				<div class="box-icon">
					<img class="nav-icon" src="../static/assets/icon_question.svg"/>
					<a class="link" href=""> Contact </a>
				</div>
			</nav>
		</section>
	</header>
	<main>
		<section class="container-main">
			<div class="container-notification">
				<p class="session-title">
					Status of union ‘SINE and LINE’ analysis 
					<img class="icon-help" src="../static/assets/help.svg"/>
				</p>
				<div class="box-information">
					<p id="current-date" class="current-date">Submitted: MMM DD, AAAA hh:mm:ss</p>
					<p class="current-status">
						Status:
						<img class="icon-status rotating" src="../static/assets/Group.svg"/>
						<span id="loading-dots">Loading</span>
					</p>
				</div>
				<div class="box-information">
					<p id="last-date" class="last-date">Last status change: MMM DD, AAAA hh:mm:ss</p>
					<p class="link-results"> 
						See the 
						<a>results</a> 
					</p>
				</div>
			</div>
		</section>

		<div class="footer-notice">
			<a>Important: </a>
			If you did not provide an email address, please bookmark this page so you can access your TE results later. If you specified an email address on the job submission page, you will be notified by email once the job is complete. Running TE on a complete genome will take a couple of hours, and depending on the server load it will take a while for your job to start.</div>
	</main>

	<footer>
		<div class="cite-us">If you have found TE useful, please <a href=""> cite us </a>.</div>
	</footer>

	<script type="text/javascript" src="../static/process-complete.js"></script>
</body>
</html>
