:root{
	--white:	#F5F5F5;
	--grey-01:  #DDD;
	--grey-02:	#C4C4CC;
	--grey-03:  #121214;
    --green-01: #00B37E;
	--green-02: #00875F;
	--green-03: #23693B;
	--green-04: #015F43;
	--green-05: #2d8b6f80;
	--purple-01:#8D6FC5;
    --purple-02:#3B2369;
	--blue: 	#81D8F7;
	--orange:   #FBA94C;
	--black:    #29292E;
}

.container-main.dark-theme,
.box-checkboxs.dark-theme,
.description-about.dark-theme p,
.description-about.dark-theme span,
.description-contact.dark-theme span,
.num_work.dark-theme,
.note.dark-theme,
.container-download.dark-theme p,
.container-download.dark-theme li,
.documentation-annotep.dark-theme p{
	color: var(--grey-02);
}

.box-input.dark-theme span,
.container-main.dark-theme b,
footer.dark-theme span,
.container-download.dark-theme span,
.num_work.dark-theme span,
.note.dark-theme b{
	color: var(--orange);
}

.container-main.dark-theme a,
footer.dark-theme a,
.description-about.dark-theme a,
.container-download.dark-theme .docker,
.results-annotation.dark-theme a,
.menu-help.dark-theme a,
.section-models.dark-theme p a{
	color: var(--blue);
}

main.dark-theme{
	background-color: var(--black);
}

.box-input.dark-theme .input-text{
	background-color: var(--white);
}

.img-dna.dark-theme, .img-phylogeny.dark-theme{
	width: 6.5rem;
	height: 6.5rem;
	margin-bottom: -0.5rem;
	filter: none;
}

.rectangle-green.dark-theme{
	background-color: var(--green-01);
}

.title-input.dark-theme{
	color: var(--grey-02);
	border-bottom: 0.125rem solid var(--green-01);
}

.session-title.dark-theme,
.description-contact.dark-theme p{
	color: var(--purple-01);
}

header.dark-theme{
	border-bottom: 0.125rem solid var(--green-01);
}

footer.dark-theme{
	border-top: 0.125rem solid var(--green-01);
	color: var(--grey-02);
}

.uploaddata.dark-theme{
	background: var(--green-01);
	border: 0.0625rem solid var(--green-01);
}

.icon-download.dark-theme{
	background-color: var(--black);
}

.container-download.dark-theme b, 
.documentation-annotep.dark-theme p b{
	color: var(--grey-01);
}

.item-download.dark-theme p{
	color: var(--white);
}

.documentation-annotep.dark-theme h3{
	color: var(--grey-02);
	border-bottom: 0.125rem solid var(--green-01);
}

.documentation-annotep.dark-theme h4{
	color: var(--grey-02);
	border-bottom: 0.125rem solid var(--purple-01); 
}

.documentation-annotep.dark-theme h3 span,
.section-models.dark-theme p b{
	color: var(--green-01);
}

.documentation-annotep.dark-theme li{
	list-style-type: square;
	color: var(--grey-02);
}
