.vscode
docker-compose.ym

At.fasta
*-matches.fasta
Tcacao.fasta
__pycache__

/www/.www
/www/.flaskenv
/www/__pycache__
/www/results
/www/Front-end

/SINE
/non-LTR
/ProcessRepeats
/RScripts
/TEsorter

/AtCh4
