 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300;400;500&display=swap');

/*font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;*/

:root{
    --green:#3A6332;
    --purple:#9364F9;
    --grey:#B9B9B9;
    --darkgrey:#777777;
    --black:#444444;
    --red:#DC0505;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}


@media(max-width: 1080px){
	html{
		font-size: 93.75%; /* 16px * 0.9375 = 15px */
	}
}

@media(max-width: 720px){
	html{
		font-size: 87.5%; /* 14px */
	}
}

header{
	max-width: 100%;
	background: var(--green);
	border-bottom:0.3rem solid var(--purple);
	height: 6rem;
}

main{
	width:1440px;
	margin-top: 2rem;
	margin-left: auto;
    margin-right: auto; 
}

.container-header{
	width:1440px;
	margin-left: auto;
    margin-right: auto; 

	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: space-between;
	padding: 24px 30px 0 0;
}

.logo{
	width: 285px;
}

.navigating{
	width: 350px;

	display: flex;
	flex-direction: row;
	gap:2rem;
}

.box-icon{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.2rem;
}

.nav-icon{
	width: 1rem;
	height: 1rem;
}

.link{
	color: #FFF;
	font-family: Playfair Display;
	font-size: 1rem;
}

.link:hover{
	transition: 0.2s;
	opacity: 0.7;
}


ul{
	display: flex;
	flex-direction: row;
	border-bottom: 0.1rem solid var(--grey);

	padding-left: 2rem;
}

.li-1{
	border: 0.1rem solid var(--grey);
	border-bottom: 0.1rem solid #FFF;
	margin-bottom: -1.5px;
	
	color: var(--darkgrey);
}


li{
	width: 12rem;
	height: 3rem;
	margin-bottom: -1.5px;
	color: var(--green);

	display: flex;
    justify-content: center;
	align-items: center;

	list-style-type: none;
	cursor:pointer;
}

/* Desabilitar o curso para a classe li-1*/
li.li-1 {
	cursor: default;
}

/* Desabilitar o hover para a classe li-1*/
li:not(.li-1):hover {
	color: #479A37;
}

.container-main{
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.session-title{
	color: var(--darkgrey);
	font-size: 1.2rem;
	font-weight: 400;

	padding: 0 0 0.4rem 1.875rem;
	border-bottom: 0.1rem solid var(--grey);
}

.icon-help{
	width: 0.625rem;
	height: 0.625rem;
}

.example{
	margin-top: 2.5rem;
	padding: 0 6.25rem 0 1.875rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	color: var(--darkgrey);
}

.container-btn{
	display: flex;
	flex-direction: row;
	gap: 3.75rem;
}

.btn-example{
	width: 12.5rem;
	height: 2.5rem;
	border-radius: 0.3125rem;
	border: 0.0625rem solid var(--grey);
	background: #DDD;

	color: var(--black);
	text-shadow: 0px 0.0625rem 0.0625rem 0px #FFF;
	font-size: 16px;
	font-weight: 400;

	cursor: pointer;
}

.btn-example:hover {
	border-color: #8a8a8a;
	background: #cacaca;
	color:#5f5f5f;
	text-shadow: none;
	box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.5);
}

.box-email{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1.25rem;
	margin: 1.875rem 0 0 1.875rem;

	color: var(--darkgrey);
}

.email{
	width: 23.75rem;
	height: 1.625rem;

	border-radius: 0.3125rem;
	padding-left: 1rem;
	border: 0.0625rem solid var(--grey);
	opacity: 0.7;
	background: #FFF;
}

.email:focus {
	border: 0.0625rem solid var(--grey);
	outline: none; 
}

.input-text{
	width: 23.75rem;
	height: 1.875rem;

	padding-left: 1rem;
	border-radius: 0.3125rem 0px 0px 0.3125rem;
	border: 0.0625rem solid var(--grey);
	background: #FFF;
}

#fileNameInput{
	user-select: none;
}

input[type="file"]{
	display: none;
}

.box-input{
	display: flex;
	flex-direction: row;
	margin: 1.875rem 0 0 1.875rem;
}

.name-btn{
	width: 5.3125rem;
	height: 1.875rem;
	border-radius: 0px 0.3125rem 0.3125rem 0px;
	border: 0.0625rem solid var(--grey);
	background: #DDD;

	color: var(--darkgrey);
	text-shadow: 0px 0.0625rem 0.0625rem 0px #FFF;
	font-family: Roboto;
	font-size: 1rem;
	font-weight: 400;

	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	cursor: pointer;
}

.name-btn:hover {
	border-color: #8a8a8a;
	background: #cacaca;
	color:#5f5f5f;
	text-shadow: none;
	box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.5);
}

.box-checkboxs{
	display: flex;
	flex-direction: row;
	margin: 1.875rem 0 0 1.875rem;
	gap: 2rem;

	color: var(--darkgrey);
}

.checkbox{
	cursor: pointer;
}

.container-checkbox input[type="checkbox"]:disabled + label {
	opacity: 0.5;
	cursor: default;
}

.container-submit{
	height: 5.25rem;
	border-radius: 0.25rem;
	border: 0.0625rem solid #E3E3E3;
	background: #F5F5F5;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.uploaddata{
	width: 25.125rem;
	height: 2rem;
	
	border-radius: 0.3125rem;
	background: var(--purple);
	border: 0.0625rem solid var(--darkgrey);

	color: #FFF;
	font-size: 1rem;
	font-weight: 400;

	cursor: pointer;
}

.uploaddata:hover {
	border-color: #5f5f5f;
	background: #7e49f0;
	color:#ebebeb;
	text-shadow: none;
	box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.5);
}

.uploaddata[disabled] {
	cursor: default;
	opacity: 0.6; 
  }
  
.uploaddata[disabled]:hover {
	background: var(--purple);
	color: #FFF;
	border: 0.0625rem solid var(--darkgrey);
}

.footer-notice{
	margin-left: auto;
    margin-right: auto; 
	margin-top: 2rem;
	padding: 0 1.875rem 0 1.875rem;

	color: var(--darkgrey);
	font-size: 16px;
	font-weight: 400;
}

.footer-notice a{
	color: var(--green);
	cursor: pointer;
}

footer{
	width:1440px;
	margin-left: auto;
    margin-right: auto; 
	margin-top: 2rem;
	padding: 0 1.875rem 0 1.875rem;

	color: var(--darkgrey);
	font-size: 1rem;
	font-weight: 400;

	border-top: 0.0625rem solid var(--green);

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.cite-us{
	width: 43.125rem;
	height: 4.8125rem;
	margin: 1.25rem 0;

	border-radius: 0.3125rem;
	border: 0.0625rem solid #E3E3E3;
	background: #F5F5F5;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.cite-us a{
	color: var(--green);
	cursor: pointer;

	padding-left: 0.125rem;
}


/*SINE e LINE css*/
.container-linesine{
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.description{
	margin: 2rem 0;
	padding: 0 6.25rem 0 1.875rem;

	display: flex;
	flex-direction: row;
	align-items: center;

	color: var(--darkgrey);
}

.container-submit-ls{
	height: 5.25rem;
	border-radius: 0.25rem;
	border: 0.0625rem solid #E3E3E3;
	background: #F5F5F5;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.uploaddatals{
	width: 25.125rem;
	height: 2rem;
	
	border-radius: 0.3125rem;
	background: var(--purple);
	border: 0.0625rem solid var(--darkgrey);

	color: #FFF;
	font-size: 1rem;
	font-weight: 400;

	cursor: pointer;
}

.uploaddatals:hover {
	border-color: #5f5f5f;
	background: #7e49f0;
	color:#ebebeb;
	text-shadow: none;
	box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.5);
}

.container-submit-ls .uploaddatals[disabled] {
	cursor: default;
	opacity: 0.6; 
  }
  
.container-submit-ls .uploaddatals[disabled]:hover {
	background: var(--purple);
	color: #FFF;
	border: 0.0625rem solid var(--darkgrey);
}

.container-results{
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
}


/* Results */
.input-results{
	width: 23.75rem;
	height: 1.875rem;

	padding-left: 1rem;
	border-radius: 0.3125rem;
	border: 0.0625rem solid var(--grey);
	background: #FFF;
}


.box-load{
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin: 1.875rem 0 0 1.875rem;
}

.loaddata{
	width: 13.75rem;
	height: 1.875rem;
	border-radius: 0.3125rem;
	border: 0.0625rem solid var(--grey);
	border-left: 0.0625rem solid var(--purple);;
	background: var(--purple);

	color: #FFF;
	text-shadow: 0px 0.0625rem 0.0625rem 0px #FFF;
	font-family: Roboto;
	font-size: 1rem;
	font-weight: 400;

	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	cursor: pointer;
}

.loaddata:hover {
	border-color: #8a8a8a;
	background: #7e49f0;
	color:#d8d8d8;
	text-shadow: none;
	box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.5);
}

.loaddata[disabled] {
	opacity: 0.6;
	pointer-events: none;
	cursor: default;
}
  

.loaddata[disabled]:hover {
	border-color: var(--grey);
	background: var(--purple);
	color: #FFF;
	text-shadow: 0px 0.0625rem 0.0625rem 0px #FFF;
	box-shadow: none;
}

/* Modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
	background-color: #fff;
	margin: 10% auto;
	padding: 2rem;
	border: 1px solid #888;
	width: 50%;
	position: relative;

	border-radius: 2rem;
	border-color: 1px solid var(--darkgrey);
  }
  
  .close {
	color: var(--grey);
	font-size: 35px;
	font-weight: bold;
	position: absolute;
	top: 15px;
	right: 25px;
	cursor: pointer;
  }
  

  .session-modal{
	text-align: center;
  }

  .box-information{
	margin-top: 1rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;
  }

  .box-information p{
	font-size: 1rem;
	color: var(--darkgrey);
  }