@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Roboto:wght@400;700&display=swap');

/*
font-family: 'Outfit', sans-serif;
font-family: 'Roboto', sans-serif;
*/

@keyframes fadeInDown {
	0% {
	  opacity: 0;
	  transform: translateY(-5rem);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
}

@keyframes sidadebarAnimation {
	to{
		transform: unset;
		opacity: 1;
	}
}

@keyframes showElementAnimation {
	to{
		transform: translate(0,0);
		opacity: 1;
	}
}


:root{
	--write:	#F5F5F5;
	--grey-01:  #DDD;
	--grey-02:	#C4C4CC;
	--grey-03:  #121214;
    --green-01: #00B37E;
	--green-02: #00875F;
	--green-03: #23693B;
	--green-04: #015F43;
	--green-05: #2d8b6f80;
	--purple-01:#8D6FC5;
    --purple-02:#3B2369;
	--blue: 	#81D8F7;
	--orange:   #FBA94C;
	--black:    #29292E;
	
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
}


body{
	font-size: 1.6rem;
	display: flex;
	flex-direction: row;

	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.menuMobile{
	display: none;
}

aside{
	width: 6rem;
	background-image: linear-gradient(to top, 
	#46CE75, 
	#2E7948,
	#23693B,
	#124B25, 
	#143D22,
	#093A1A, 
	#121214);

	transition: 0.5s;
}

.aside{
	left: 0;
	transform: translateX(-100%);
	height: 100%;
	z-index: 2;

	border: 0;
	padding: 1rem;

	opacity: 0;
	width: 7.4rem;
	overflow: hidden;
	transition: all .3s ease;

	animation: sidadebarAnimation .5s ease-in-out .3s forwards;
}

.aside:hover{
	width: 18rem;
}

.aside:hover .txt-link{
	opacity: 1;
	visibility: visible;
}

.txt-link{
	opacity: 0;
	visibility: hidden;
	font-weight: bold;
}

#menu{
	margin-top: 0.5rem;
}

#menu .logoAnnotep{
	display: flex;
	justify-content: center;
	margin-bottom: 2rem !important;
}

#menu .logoAnnotep a{
	display: flex;
}

#menu .logoAnnotep img{
	margin: 0;
	width: 3.3rem;
	height: 3.3rem;
}

aside li{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5rem;
	width: 6rem;
	height: 4rem;

	font-family: 'Outfit', sans-serif;
	font-size: 1.2rem;
	font-weight: 400;

	transition: all .3s ease;
	color: var(--write);
}

#menu li{
	gap: 2.5rem;
	width: 100%;
	padding: 0;
	display: flex;
	align-items: center;
	border-radius: 1rem;
}

#menu li:not(:last-child){
	margin-bottom: .5rem;
}

#menu li img{
	width: 2rem;
	height: 2rem;
	margin: 0;
	margin-left: 1.5rem;
}

#menu li span{
	margin: 0;
}

#menu li:hover{
	background-color: var(--green-05);
}

#menu li.open{
	background-color: var(--green-02);
}

.aside .menu-side{
	visibility: hidden;
}

.txt-link{
	display: flex;
	opacity: 1;
}

.showAside{
	transform: translateX(0);
}

aside span{
	opacity: 0;
	transition: .3s;
}

aside.expandir li{
	gap: 2rem;
	width: 12rem;
}

aside.expandir spam{
	opacity: 1;
}

aside .menu-side{
	margin: 2.5rem 0 2rem 0; /* Margens: superior direita inferior esquerda */
}

aside .btn-expand:hover{
	opacity: 0.7;
	cursor: pointer;
}

aside.expandir{
	width: 12rem;
}

aside li:hover{
	background-color: var(--purple-02);
	cursor: pointer;
}

li.open{
	background-color: #3B2369;
}

main{
	width: 100%;

	font-family: 'Roboto', sans-serif;
	transition: .4s;

	overflow: auto;
}

.main {
	width: 100%;
}

/*main.expandir{
	margin-left: 12rem;
}*/


header{
	width: auto;
	border-bottom: 0.125rem solid var(--green-02);


	opacity: 0;
	transform: translate(0, -1rem);

	animation: showElementAnimation .5s ease-in-out .8s forwards;
}

header section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 2rem 0.125rem 2rem;
}

.header{
	padding: 0;
	width: 100%;
	margin-bottom: 2rem;
}

.logo{
	width: 30rem;
	height: 6rem;
}

#logoImage{
	transform: translate(0, -1rem);
	opacity: 0;

	animation: showElementAnimation .5s ease-in-out .3s forwards;
}

.cloudImageWrapper{
	background-color: #FFF;
	border: 1px solid var(--green-01);
	position: absolute;
	bottom: 1vh;
	left: 1vw;
	border-radius: 50%;
	padding: .8rem;
	width: 4.5rem;
	height: 4.5rem;
	z-index: 2;

	opacity: 0;
	animation: showElementAnimation .4s ease-in-out 1s forwards;
}

.cloudImageWrapper img{
	width: 100%;
}


.container-main{
	color: var(--grey-03);

	width: min(100%, 120rem);
	margin: auto;
}

.description-screen{
	line-height: 1.6rem;

	opacity: 0;
	transform: translate(0, -1rem);

	animation: showElementAnimation .5s ease-in-out 1s forwards;
}

.replace{
	cursor: pointer;
}

article{
	margin: 2rem 2rem 0 2rem;
	font-size: 1.5rem;
}

article span{
	font-weight: 700;
	color: var(--green-01);
}

.container-explicative{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5rem;

	margin: 2.5rem 5.5rem 2.5rem 5.5rem;
}

.container-explicative b,
.container-explicative .box-explicative a{
	text-shadow: none;
}

.container-explicative .box-explicative{
	margin: 0;
	width: 100%;

	opacity: 0;
	transform: translate(0, -1rem);

	animation: showElementAnimation .5s ease-in-out 1.2s forwards;
}

.container-explicative .box-explicative span{
	font-size: 1.5rem;
}

.rectangle-green{
	margin: 0;
	width: 100%;
	opacity: 0;

	animation: showElementAnimation .5s ease-in-out 1.4s forwards;
}


.box-explicative{
	width: 20rem;
	font-size: 1.25rem;

	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.box-explicative .be1{
	animation: fadeInDown 0.6s ease-in-out;
}

.box-explicative .be2{
	animation: fadeInDown 0.7s ease-in-out;
}

.box-explicative .be3{
	animation: fadeInDown 0.8s ease-in-out;
}

.box-explicative .img-dna{
	animation: fadeInDown 0.7s ease-in-out;
}

.box-explicative .img-phylogeny{
	animation: fadeInDown 0.8s ease-in-out;
}

.box-explicative .img-email{
	animation: fadeInDown 0.9s ease-in-out;
}

.box-explicative b{
	text-shadow: 0px 4px 10px rgba(59, 35, 105, 0.25);
}

.box-explicative a{
	font-weight: 700;
	color: var(--green-03);
	text-shadow: 0px 4px 10px rgba(28, 124, 44, 0.25);
}

.img-dna, .img-phylogeny{
	width: 6rem;
	height: 6rem;
	filter:drop-shadow(0.25rem 0 0.25rem #C4C4CC);
}

.img-email{
	width: 4rem;
	height: 5rem;
}

.container-data-input{
	margin:0 2rem 0 2rem;
	padding-top: 0;
}

.container-data-input section{
	margin-top: 1.5rem;
}

.rectangle{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;

	margin: 0 5rem 0 5rem;
}

.rectangle-green{
	width: 43.75rem;
	height: 0.125rem;

	background-color: var(--green-02);
	margin-bottom: 2.5rem;
}

.title-input{
	font-size: 2.5rem;
	color: var(--grey-03);
	font-weight: 700;
	
	text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
	border-bottom: 0.125rem solid var(--green-02);

	opacity: 0;
	transform: translate(0, -1rem);

	animation: showElementAnimation .5s ease-in-out 1.6s forwards;
}

.icon-help{
	width: 0.75rem;
	height: 0.75rem;
	filter:drop-shadow(0rem 0 0.5rem #121214);

	cursor: pointer;
}

.session-title{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;

	font-size: 1.5rem;
	font-weight: 700;
	color: var(--purple-02);
	text-shadow: 0px 4px 10px rgba(59, 35, 105, 0.25);

	margin-bottom: 0.5rem;
}

.email{
	width: 31rem;
	height: 2rem;

	border-radius: 0.3125rem;
	padding-left: 1rem;
	border: 0.0625rem solid var(--grey-03);
	opacity: 0.7;
	background: var(--write);
	color: var(--grey-02);
}

.email:focus {
	border: 0.0625rem solid var(--grey-02);
	color: var(--grey-03);
	outline: none; 
}

.container-email,
.container-genome{
	width: 100%;

	opacity: 0;
	transform: translate(0, -1rem);

	animation: showElementAnimation .5s ease-in-out 1.8s forwards;
}

.container-action .session-title{
	opacity: 0;
	transform: translate(0, -1rem);

	animation: showElementAnimation .5s ease-in-out 2s forwards;
}


.container-action .box-checkboxs .container-checkbox{
	opacity: 0;
	transform: translate(0, -1rem);

	animation: showElementAnimation .5s ease-in-out 2.4s forwards;
}

.container-submit{
	margin-top: 1rem;
	width: min(100%, 20rem);

	opacity: 0;
	transform: translate(0, -1rem);

	animation: showElementAnimation .5s ease-in-out 3.2s forwards;
}

.input-text{
	width: 25rem;
	height: 2rem;

	padding-left: 1rem;
	border-radius: 0.3125rem 0px 0px 0.3125rem;
	border: 0.0625rem solid var(--grey-03);
	background: var(--write);
}

#fileNameInput{
	user-select: none;
}

input[type="file"]{
	display: none;
}

.box-input{
	display: flex;
	flex-direction: row;
}

.name-btn{
	width: 6.125rem;
	height: 2rem;
	border-radius: 0px 0.3125rem 0.3125rem 0px;
	border: 0.0625rem solid var(--grey-03);
	background: var(--grey-01);

	color: var(--grey-03);
	text-shadow: 0px 0.0625rem 0.0625rem 0px var(--write);
	font-size: 1rem;
	font-weight: 400;

	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	cursor: pointer;
}

.name-btn:hover {
	opacity: 0.5;
	text-shadow: none;
	box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.5);
}

.box-checkboxs{
	display: flex;
	flex-direction: row;
	gap: 2rem;

	color: var(--grey-03);
	font-size: 1rem;
}

.checkbox{
	cursor: pointer;
}

.box-checkboxs{
	color: var(--grey-03);
}

.container-checkbox input[type="checkbox"]:disabled + label {
	opacity: 0.8;
	cursor: default;
}

.uploaddata{
	width: 18.5rem;
	height: 2rem;
	margin-top: 1rem;
	
	border-radius: 0.3125rem;
	background: var(--green-02);
	border: 0.0625rem solid var(--green-02);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

	color: var(--write);
	font-size: 1rem;
	font-weight: 400;

	cursor: pointer;
}

.uploaddata:hover {
	opacity: 0.8;
}

.uploaddata[disabled] {
	cursor: default;
	opacity: 0.8; 
  }
  
.uploaddata[disabled]:hover {
	color: var(--write);
	border: 0.0625rem solid var(--green-02);
}

footer{
	border-top: 0.125rem solid var(--green-02);
	margin-top: 3rem;
	color: var(--grey-03);

	font-size: 1rem;
	font-weight: 400;

	transform: translate(0, -1rem);

	opacity: 0;

	animation: showElementAnimation .5s ease-in-out 3.9s forwards;
}

.cite-us{
	margin: 1rem 2rem 1rem 2rem;
}

.cite-us a{
	color: var(--green-02);
	cursor: pointer;

	padding-left: 0.125rem;
}

.session-icon{
	width: 0.75rem;
    height: 0.8rem;
    display: flex;
    align-items: center;
}

.open-tab{
	width: 19rem;
	border: 0.125rem solid var(--green-02);
    border-radius: 0.5rem;
    color: var(--grey-03);
	background: var(--write);

	font-weight: 300;
    font-size: 1rem;
    text-align: justify;
    
    position: absolute;
    z-index: 1;
    padding: 0.5rem 0.5rem;

	visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.open-tab-annotation {
    margin-left: 0.8rem;
    margin-top: -16.5rem;
}

.open-tab-email{
    margin-left: 0.8rem;
    margin-top: -6.5rem;
}

.open-tab-genome{
    margin-left: 0.8rem;
    margin-top: -6.5rem;
}

.session-annotation-icon:hover .open-tab-annotation,
.session-email-icon:hover .open-tab-email,
.session-genome-icon:hover .open-tab-genome{
	visibility: visible;
	opacity: 1;
}


/* Outras páginas */
.Download,
.Help,
.About,
.Contact{
	flex-direction: column;
	display: none;
	font-family: 'Roboto', sans-serif;
}

/* Download */
.title-download{
	margin-top: 1.5rem; 
}

.description-download span{
	font-weight: 700;
	color: var(--green-01);
}

.description-download a{
	color: var(--green-01);
}

.description-download h3{
	font-size: 1.5rem;
    font-weight: 700;
    color: var(--purple-02);
    text-shadow: 0px 4px 10px rgba(59, 35, 105, 0.25);

	margin-bottom: 0.5rem;
}

.box-download{
	display: flex;
	flex-direction: row;
	justify-items: center;
	margin: 2rem 0 4rem 0;
	gap: 2rem;

	opacity: 0;
    transform: translate(0, -1rem);
    animation: showElementAnimation .5s ease-in-out 1.8s forwards;
}

.item-download{
	width: 30rem;
    height: 3rem;
    border-radius: 1.25rem;
    border: 0.125rem solid var(--green-01);
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: left;
    padding-left: 2rem;
	
	font-family: 'Outfit', sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
}

.icon-download{
	width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    border: 0.15rem solid var(--green-01);
    display: flex;
    align-items: center;
    justify-content: center;

	background-color: #FFF;
}

.icon-download img{
	width: 1.5rem;
	height: 1.5rem;
}

.icon-download:hover,
.icon-download.dark-theme:hover{
	cursor: pointer;
	background: var(--green-01);
}

.description-download{
	margin-top: 4rem;

	opacity: 0;
    transform: translate(0, -1rem);
    animation: showElementAnimation .5s ease-in-out 2s forwards;
}

/* =========== Dark Theme ============= */
.container-main.dark-theme{
	color: var(--grey-02);
}

.box-checkboxs.dark-theme{
	color: var(--grey-02);
}

main.dark-theme{
	background-color: var(--black);
}

.container-main.dark-theme b{
	color: var(--orange);
}

.container-main.dark-theme a{
	color: var(--blue);
}

.img-dna.dark-theme, .img-phylogeny.dark-theme{
	width: 6.5rem;
	height: 6.5rem;
	margin-bottom: -0.5rem;
	filter: none;
}

.rectangle-green.dark-theme{
	background-color: var(--green-01);
}

.title-input.dark-theme{
	color: var(--grey-02);
	border-bottom: 0.125rem solid var(--green-01);
}

.session-title.dark-theme{
	color: var(--purple-01);
}

header.dark-theme{
	border-bottom: 0.125rem solid var(--green-01);
}

footer.dark-theme{
	border-top: 0.125rem solid var(--green-01);
	color: var(--grey-02);
}

footer.dark-theme a{
	color: var(--orange);
}

.uploaddata.dark-theme{
	background: var(--green-01);
	border: 0.0625rem solid var(--green-01);
}

.item-download.dark-theme p{
	color: var(--grey-02);
}

.icon-download.dark-theme{
	background-color: var(--black);
}

.description-download.dark-theme h3{
	color: var(--purple-01);
}

.description-download.dark-theme p{
	color: var(--grey-02);
}


/* Modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
	background-color: var(--write);
	margin: 10% auto;
	padding: 2rem;
	border: 0.0625rem solid var(--grey-02);
	width: 50%;
	position: relative;

	border-radius: 2rem;
	border-color: 0.0625rem solid var(--grey-03);
  }
  
  .close {
	color: var(--grey-03);
	font-size: 2rem;
	font-weight: bold;
	position: absolute;
	top: 1rem;
	right: 2rem;
	cursor: pointer;
  }
  

  .session-modal{
	text-align: center;
	font-size: 2rem;

	border-bottom: 0.125rem solid var(--green-02);
  }

  .box-information{
	margin-top: 1rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;
  }

  .box-information p{
	font-size: 1.125rem;
	color: var(--grey-03);
  }






@media (min-width: 992px) and (max-width: 1199px) {
	.container-explicative .box-explicative span {
		font-size: 1.2rem;
	}

	.container-explicative{
		gap: 4rem;
		margin: 2rem 4rem 2rem 4rem;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	aside{
		width: 4rem;
	}
	
	.aside{
		padding: 0.5rem;
		width: 6rem;

	}
	
	.aside:hover{
		width: 14rem;
	}
	
	#menu{
		margin-top: 1.5rem;
	}
	
	#menu .logoAnnotep img{
		width: 3rem;
		height: 3rem;
	}
	
	aside li{
		gap: 2rem;
		width: 3rem;
		height: 3.5rem;
		font-size: 1rem;
	}
	
	#menu li{
		gap: 1.5rem;
	}
	
	#menu li img{
		width: 1.5rem;
		height: 1.5rem;
	}
	
	aside.expandir li{
		gap: 2rem;
		width: 8rem;
	}
	
	aside.expandir{
		width: 8rem;
	}
	
	
	article{
		font-size: 1.2rem;
	}

	.container-explicative .box-explicative span {
		font-size: 1rem;
	}

	.container-explicative{
		gap: 3rem;
		margin: 2rem 3rem 2rem 3rem;
	}

	.be3 {
		font-size: 1rem !important;
	}

	.img-email{
		width: 3rem;
		height: 4rem;
	}

	.img-dna, .img-phylogeny{
		width: 5rem;
		height: 5rem;
	}

	.cloudImageWrapper{
		bottom: 1vh;
		left: 1.5vw;
		padding: 0.7rem;
		width: 3.5rem;
		height: 3.5rem;
	}

	
}

@media (min-width: 481px) and (max-width: 767px){
	.menuMobile{
		display: flex;
		position: absolute;
		top: 5vh;
		left: 2rem;
		cursor: pointer;
		z-index: 3;

		animation: showElementAnimation 1s ease-in-out 1s forwards;
	}
	
	.ph-list{
		color: var(--green-01);
		font-size: 2.6rem;
		transition: all 1.2s ease;
	}
	
	.iconColor{
		color: #fff;
		border: 0;
		background:none;
	}

	.aside{
		position: fixed;
		left: -300px;
		width: 12rem;
		height: 100%;
		z-index: 2;

		padding: 1rem;
	}

	.aside:hover{
		width: 12rem;
	}

	.showAside{
		transition: 1s;
		left: 0;
	}

	.logoAnnotep img{
		display: none;
	}

	#menu{
		margin-top: 5rem;
	}

	#menu li{
		gap: 1.5rem;
		width: 100%;
	}

	#menu li:not(:last-child){
		margin-bottom: .5rem;
	}

	#menu li img{
		width: 1.5rem;
		height: 1.5rem;
	}

	.txt-link{
		opacity: 1;
		font-size: 1rem;
		visibility: inherit;
	}

	article{
		font-size: 1.2rem;
	}

	.header .container-header{
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0;
	}

	#logoImage{
		width: 20rem;
	}

	.container-explicative .box-explicative span {
		font-size: 1rem;
	}

	.container-explicative{
		gap: 3rem;
		margin: 2rem 3rem 2rem 3rem;
		padding: 0 4rem 0 4rem;

		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	.img-email{
		width: 3rem;
		height: 4rem;
	}

	.img-dna, .img-phylogeny{
		width: 5rem;
		height: 5rem;
	}

	.cloudImageWrapper{
		bottom: 1vh;
		left: 1.5rem;
		padding: 0.7rem;
		width: 3.5rem;
		height: 3.5rem;
	}

	.email{
		width: 28rem;
		height: 2rem;
	}

	.input-text{
		width: 22rem;
		height: 2rem;
	}

	.open-tab-annotation {
		width: 14rem;
		margin-top: -22.5rem;
	}
	
	.open-tab-email{
		width: 14rem;
		margin-top: -9.5rem;
	}
	
	.open-tab-genome{
		width: 14rem;
		margin-top: -7.5rem;
	}
	
}

@media (min-width: 200px) and (max-width: 480px){
	.menuMobile{
		display: flex;
		position: absolute;
		top: 5vh;
		left: 2rem;
		cursor: pointer;
		z-index: 3;

		animation: showElementAnimation 1s ease-in-out 1s forwards;
	}
	
	.ph-list{
		color: var(--green-01);
		font-size: 2.6rem;
		transition: all 1.2s ease;
	}
	
	.iconColor{
		color: #fff;
		border: 0;
		background:none;
	}

	.aside{
		position: fixed;
		left: -300px;
		width: 12rem;
		height: 100%;
		z-index: 2;

		padding: 1rem;
	}

	.aside:hover{
		width: 12rem;
	}

	.showAside{
		transition: 1s;
		left: 0;
	}

	.logoAnnotep img{
		display: none;
	}

	#menu{
		margin-top: 5rem;
	}

	#menu li{
		gap: 1.5rem;
		width: 100%;
	}

	#menu li:not(:last-child){
		margin-bottom: .5rem;
	}

	#menu li img{
		width: 1.5rem;
		height: 1.5rem;
	}

	.txt-link{
		opacity: 1;
		font-size: 1rem;
		visibility: inherit;
	}

	article{
		font-size: 1.2rem;
	}

	.header .container-header{
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0;
	}

	#logoImage{
		width: 18rem;
	}

	.container-explicative .box-explicative span {
		font-size: 1rem;
	}

	.container-explicative{
		gap: 3rem;
		margin: 2rem 3rem 2rem 3rem;
		padding: 0 4rem 0 4rem;

		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	.be3 {
		font-size: 1rem !important;
	}

	.img-email{
		width: 3rem;
		height: 4rem;
	}

	.img-dna, .img-phylogeny{
		width: 5rem;
		height: 5rem;
	}

	.cloudImageWrapper{
		bottom: 1vh;
		left: 1.5rem;
		padding: 0.7rem;
		width: 3.5rem;
		height: 3.5rem;
	}

	.email{
		width: 21rem;
		height: 2rem;
	}

	.input-text{
		width: 15rem;
		height: 2rem;
	}

	.container-checkbox{
		margin: 0;
		padding: 0;

		width: 7.5rem;
	}

	.box-checkboxs{
		gap: 0.2rem;
		font-size: 1rem;
	}

	footer{
		font-size: 1rem;
	}

}