@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Playfair+Display&family=Roboto&display=swap');

/*font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;*/

:root{
    --green:#3A6332;
    --purple:#9364F9;
    --grey:#B9B9B9;
    --darkgrey:#777777;
    --black:#444444;
    --red:#DC0505;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
}


@media(max-width: 1080px){
	html{
		font-size: 93.75%; /* 16px * 0.9375 = 15px */
	}
}

@media(max-width: 720px){
	html{
		font-size: 87.5%; /* 14px */
	}
}

header{
	max-width: 100%;
	background: var(--green);
	border-bottom:0.3rem solid var(--purple);
	height: 6rem;
}

main{
	width:1440px;
	margin-top: 2rem;
	margin-left: auto;
    margin-right: auto; 
    font-family: 'Roboto', sans-serif;
}

p{
    cursor: default;
}

.container-header{
	width:1440px;
	margin-left: auto;
    margin-right: auto; 

	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: space-between;
	padding: 24px 30px 0 0;
}

.logo{
	width: 285px;
}

.navigating{
	width: 350px;

	display: flex;
	flex-direction: row;
	gap:2rem;
}

.box-icon{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.2rem;
}

.nav-icon{
	width: 1rem;
	height: 1rem;
}

.link{
	color: #FFF;
	font-family: Playfair Display;
	font-size: 1rem;
}

.link:hover{
	transition: 0.2s;
	opacity: 0.7;
}

.container-main{
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.session-title{
	color: var(--darkgrey);
	font-size: 3.125rem;
	font-weight: 400;

	padding: 0 0 0.4rem 1.875rem;
	border-bottom: 0.1rem solid var(--grey);
}

.icon-help{
	width: 1rem;
	height: 1rem;
}

.download{
	margin-top: 2.5rem;
    margin-bottom: 2rem;
	padding: 0 6.25rem 0 1.875rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	color: var(--darkgrey);
}

.download a{
    color: var(--green);
}

.container-btn{
	display: flex;
	flex-direction: row;
	gap: 3.75rem;
}

.btn-box div{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;
    text-align: center;

    margin-left: 3.125rem;
}

.btn-box{
	width: 12.5rem;
	height: 2.5rem;
	border-radius: 0.3125rem;
	border: 0.0625rem solid var(--grey);
	background: var(--green);

	color: #FFF;
	text-shadow: 0px 0.0625rem 0.0625rem 0px #FFF;
	font-size: 16px;
    font-family: 'Exo 2', sans-serif;
	font-weight: 400;

	cursor: pointer;
} 

.btn-box:hover {
	border-color: #8a8a8a;
	background: #4d8343;
	color:#FFF;
	text-shadow: none;
	box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.5);
}

.ctn{
    width: 1220px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
}

.container-results, .ctn-results {
    margin-top: 2rem;
	position: relative;
}

.icon-option{
	width: 3.125rem;
	height: 1.375rem;

	margin-top: 5px;
	margin-right: 5px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	position: absolute;
	right: 0;
}

.icon-zoom, .icon-doc{
	cursor: pointer;
}

.icon-zoom:hover, .icon-doc:hover{
	opacity: 0.8;
}

.img-peri{
    width: 76.25rem;

    border-left: 0.125rem solid var(--grey);
    border-right: 0.125rem solid var(--grey);
    border-bottom: 0.125rem solid var(--grey);

	transition: all 0.3s ease;
}

.img-results{
    border-left: 0.125rem solid var(--grey);
    border-right: 0.125rem solid var(--grey);
    border-bottom: 0.125rem solid var(--grey);

    width: 36.25rem;
    height: 26.25rem;

	transition: all 0.3s ease;
}

/*Sistema de zoom*/
.zoomed {
    position: absolute;
    top: 50%;
    left: 190%;
    transform: translate(-50%, -50%) scale(2); /* Modifica o tamanho para o efeito de zoom */
    z-index: 9999;
    cursor: zoom-out; /* Adiciona um cursor de zoom-out para indicar que a imagem é clicável */
}


ul{
    display: flex;
    flex-direction: row;
    border-bottom: 0.125rem solid var(--grey);

    padding-left: 2rem;
}

li {
    height: 2rem;
    margin-bottom: -0.125rem;
    color: var(--green);

    display: flex;
    justify-content: center;
    align-items: center;

    list-style-type: none;
    cursor:pointer;
}

.rp{
    width: 9rem;
}

.li-1{
    border: 0.125rem solid var(--grey);
    border-bottom: 0.125rem solid #FFF;
    margin-bottom: -0.125rem;

    color: var(--darkgrey);
    cursor: default;
}

/* Desabilitar o hover para a classe li-1*/
.box-rp li:not(.li-1):hover {
    color: #479A37;
}

.rl{
    width: 15rem;

    border: 0.125rem solid var(--grey);
    border-bottom: 0.125rem solid #FFF;
    margin-bottom: -0.125rem;

    color: var(--darkgrey);
    cursor: default;
}

.ltr{
    width: 8rem;
}

.li-2{
    border: 0.125rem solid var(--grey);
    border-bottom: 0.125rem solid #FFF;
    margin-bottom: -0.125rem;

    color: var(--darkgrey);
    cursor: default;
}

.box-ltr li:not(.li-2):hover {
    color: #479A37;
}

.pd{
    width: 8rem;
}

.li-3{
    border: 0.125rem solid var(--grey);
    border-bottom: 0.125rem solid #FFF;
    margin-bottom: -0.125rem;

    color: var(--darkgrey);
    cursor: default;
}

.box-pd li:not(.li-3):hover {
    color: #479A37;
}

.cp{
    width: 20rem;

    border: 0.125rem solid var(--grey);
    border-bottom: 0.125rem solid #FFF;
    margin-bottom: -0.125rem;

    color: var(--darkgrey);
    cursor: default;
}

.footer-notice{
	margin-left: auto;
    margin-right: auto; 
	margin-top: 2rem;
	padding: 0 1.875rem 0 1.875rem;

	color: var(--darkgrey);
	font-size: 16px;
	font-weight: 400;

    display: flex;
    justify-content: center;
    gap: 0.125rem;

    cursor: default;
}

.footer-notice a{
	color: var(--purple);
}

footer{
	width:1440px;
	margin-left: auto;
    margin-right: auto; 
	margin-top: 2rem;
	padding: 0 1.875rem 0 1.875rem;

	color: var(--darkgrey);
	font-size: 1rem;
	font-weight: 400;

	border-top: 0.0625rem solid var(--green);

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.cite-us{
	width: 43.125rem;
	height: 4.8125rem;
	margin: 1.25rem 0;

	border-radius: 0.3125rem;
	border: 0.0625rem solid #E3E3E3;
	background: #F5F5F5;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
    cursor: default;

    font-family: 'Roboto';
}

.cite-us a{
	color: var(--green);
	cursor: pointer;

	padding-left: 0.125rem;
}

/* Estilos para o modal */
.modal {
	display: none; /* Esconder o modal */
	position: fixed;
	z-index: 999; /* Coloca o modal em uma camada superior */
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal img {
	display: block;
	margin: 0 auto;
	max-width: 90%;
	max-height: 80%;
  }
  
  /* Estilo para o botão de fechar */
  .close {
	color: var(--grey);
	font-size: 35px;
	font-weight: bold;
	position: absolute;
	top: 15px;
	right: 25px;
	cursor: pointer;
  }
  
  .close:hover {
	color: var(--darkgrey);
  }
  