@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Roboto:wght@400;700&display=swap');

/*
font-family: 'Outfit', sans-serif;
font-family: 'Roboto', sans-serif;
*/

@keyframes fadeInDown {
	0% {
	  opacity: 0;
	  transform: translateY(-5rem);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
}

@keyframes sidadebarAnimation {
	to{
		transform: unset;
		opacity: 1;
	}
}

@keyframes showElementAnimation {
	to{
		transform: translate(0,0);
		opacity: 1;
	}
}

:root{
	--write:	#F5F5F5;
	--grey-01:  #DDD;
	--grey-02:	#C4C4CC;
	--grey-03:  #121214;
    --green-01: #00B37E;
	--green-02: #00875F;
	--green-03: #23693B;
	--green-04: #015F43;
	--green-05: #2d8b6f80;
	--purple-01:#8D6FC5;
    --purple-02:#3B2369;
	--blue: 	#81D8F7;
	--orange:   #FBA94C;
	--black:    #29292E;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

html{
	height: 100%;
	scroll-behavior: smooth;
}


body{
	display: flex;
	flex-direction: row;

	width: 100%;
	height: 100vh;
	overflow: hidden;

	font-size: 1.6rem;
}

aside{
	width: 23rem;
	height: 100%;
	padding: 1rem;
	z-index: 2;
	
	background-image: linear-gradient(to top, 
	#46CE75, 
	#2E7948,
	#23693B,
	#124B25, 
	#143D22,
	#093A1A, 
	#121214);

	transition: .5s;
}

.menu-side{
	display: none;
}

.aside{
	width: 7.4rem;
	height: 100%;
	left: 0;
	transform: translateX(-100%);
	z-index: 2;

	border: 0;
	padding: 1rem;
	opacity: 0;
	overflow: hidden;
	transition: all .3s ease;

	animation: sidadebarAnimation .5s ease-in-out .3s forwards;
}

.aside:hover{
	width: 23rem;
}

.aside:hover .txt-link{
	opacity: 1;
	visibility: visible;
}

.txt-link{
	opacity: 0;
	visibility: hidden;
	font-weight: bold;
	text-wrap: nowrap;
}

#menu{
	margin-top: 0.5rem;
}

#menu .logoAnnotep{
	display: flex;
	justify-content: center;
	margin-bottom: 2rem !important;
}

#menu .logoAnnotep a{
	display: flex;
}

#menu .logoAnnotep img{
	margin: 0;
	width: 3.3rem;
	height: 3.3rem;
}

#menu li{
	gap: 2.5rem;
	width: 100%;
	height: 4rem;
	padding: 0;
	display: flex;
	align-items: center;
	border-radius: 1rem;

	font-family: 'Outfit', sans-serif;

	transition: all .3s ease;
}

#menu li:not(:last-child){
	margin-bottom: .5rem;
}

#menu li img{
	width: 2.3rem;
	height: 2.3rem;
	margin: 0;
	margin-left: 1.5rem;
}

#menu li:hover{
	background-color: var(--green-05);
}

#menu li.open{
	background-color: var(--green-02);
}

aside li a{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1.8rem;

	color: var(--write);

	overflow: hidden;

	transition: all .5s;
}

.txt-link{
	display: flex;
	font-size: 1rem;
}

aside span{
	opacity: 1;
	transition: 0.9s;
}


aside li:hover{
	background-color: var(--green-05);
}

li.open{
	background-color: var(--green-02);
}

main{
	font-family: 'Roboto', sans-serif;
	transition: .4s;

	overflow: auto;

	width: 100%;
	height: 100%;
}

/*.main{
	width: calc(100% - 7.4rem);
	transform: translateX(7.4rem);
}*/

/*main.expandir{
	margin-left: 12rem;
}*/


header{
	width: auto;
	border-bottom: 0.125rem solid var(--green-02);
}

header section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo{
	width: 30rem;
	height: 6rem;
	margin-left: 2rem;
	transform: translate(0, -1rem);
	opacity: 0;

	animation: showElementAnimation .5s ease-in-out .3s forwards;
}


.container-main{
	color: var(--grey-03);
}

.cloudImageWrapper{
	background-color: #FFF;
	border: 1px solid var(--green-01);
	position: absolute;
	bottom: 1vh;
	left: 1vw;
	border-radius: 50%;
	padding: .8rem;
	width: 4.5rem;
	height: 4.5rem;
	z-index: 2;

	opacity: 0;
	animation: showElementAnimation .4s ease-in-out 1s forwards;
}

.cloudImageWrapper img{
	width: 100%;
}


.replace{
	cursor: pointer;
}

.container-data{
	margin:2rem 2rem 0 2rem;
}

.container-data section{
	margin-top: 1rem;
}

.rectangle{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.rectangle-purple{
	width: 43.75rem;
	height: 0.125rem;

	background-color: var(--purple-02);
}

.title-data{
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;

	font-size: 2.5rem;
	color: var(--grey-03);
	font-weight: 700;
	
	text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
	border-bottom: 0.125rem solid var(--purple-02);

	padding-top: 1rem;
}

.icon-help{
	width: 1rem;
	height: 1rem;

	cursor: pointer;
}

.container-compact{
	display: flex;
	flex-direction: row;
	justify-content: left;
	flex-wrap: wrap;
	gap: 2rem;
}

.box-compact{
	display: flex;
	flex-direction: column;
	gap: 1rem;

	font-size: 2rem;
	font-weight: 700;
	color: var(--purple-02);
}

.non-ltr-data{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 0.5rem;

	width: 24rem;
	height: 3rem;
	
	border-radius: 0.8rem;
	background: var(--green-01);

	color: var(--write);
	font-size: 1.2rem;
	font-weight: bold;
	border: 0;
	transition: all .3s ease;

	cursor: pointer;
}

.non-ltr-data:hover {
	background: var(--green-02);
}

.non-ltr-data[disabled] {
	cursor: default;
	opacity: 0.8; 
}
  
.non-ltr-data[disabled]:hover {
	color: var(--write);
	border: 0.0625rem solid var(--green-02);
}

.container-table{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

table, td, tr, th{
	border-collapse: collapse;
	font-size: 1.5rem;
}

.table-top{
	margin-top: 2rem;
}

.table-footer{
	max-height: 500px; 
	overflow-y: scroll;

	margin-bottom: 2rem;
}

.title-td{
	background-color: var(--green-01);
	border-bottom: var(--grey-03);
	border-radius: 0.625rem 0.625rem 0 0;
	color: var(--write);

	font-size: 2rem;
}

td, th{
	width: 20rem;
	height: 3rem;
	text-align: center;
}

.main-tr{
	border-bottom: 0.0625rem solid var(--grey-03);
	color: var(--purple-02);
}

.main-td{
	font-weight: 700;
}

.footer-td{
	border-bottom: 0.0625rem solid var(--grey-03);
}

.container-landscape{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.Landscape-img{
	width: 55rem;
	height: 45rem;

	margin-top: 2rem;
}

.container-ltrfamily{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.ltr-copia{
	width: 43.75rem;
	height: 26.25rem;
}

.ltr-gypsy{
	width: 43.75rem;
	height: 26.25rem;
}

.container-phylogeny{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.ltr-phylogeny, .ltr-density{
	width: 70rem;
	height: 55rem;

	margin-top: 2rem;
}
.container-density{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}



.downloaddata{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 0.5rem;

	width: 25rem;
	height: 3rem;
	margin-top: 1rem;
	
	border-radius: 0.3125rem;
	background: var(--green-01);
	border: 0;

	color: var(--write);
	font-size: 1.2rem;
	font-weight: bold;

	cursor: pointer;
	transition: all .3s ease;
}

.downloaddata:hover {
	opacity: 0.8;
}

.downloaddata[disabled] {
	cursor: default;
	opacity: 0.8; 
}
  
.downloaddata[disabled]:hover {
	color: var(--write);
	border: 0.0625rem solid var(--green-02);
}

footer{
	border-top: 0.125rem solid var(--green-02);
	margin-top: 3rem;
	color: var(--grey-03);

	font-size: 1rem;
	font-weight: 400;
}

.cite-us{
	margin: 1rem 2rem 1rem 2rem;
}

.cite-us a{
	color: var(--green-02);
	cursor: pointer;

	padding-left: 0.125rem;
}

/* --- icon-help --- */
.session-nonltr-icon{
    width: 0.75rem;
    height: 0.8rem;
    display: flex;
    align-items: center;
}

.open-tab-nonltr {
	width: 19rem;
	border: 0.125rem solid var(--green-02);
    border-radius: 0.5rem;
    color: var(--grey-03);
	background: var(--write);

	font-weight: 300;
    font-size: 1rem;
    text-align: justify;
    
    position: absolute;
    z-index: 1;
    padding: 0.5rem 0.5rem;
    margin-left: 0.8rem;
    margin-top: -5.5rem;

	visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.session-nonltr-icon:hover .open-tab-nonltr{
	visibility: visible;
	opacity: 1;
}

.session-report-icon{
    width: 0.75rem;
    height: 0.8rem;
    display: flex;
    align-items: center;
}

.open-tab-report {
	width: 19rem;
	border: 0.125rem solid var(--green-02);
    border-radius: 0.5rem;
    color: var(--grey-03);
	background: var(--write);

	font-weight: 300;
    font-size: 1rem;
    text-align: justify;
    
    position: absolute;
    z-index: 1;
    padding: 0.5rem 0.5rem;
    margin-left: 0.8rem;
    margin-top: -7.5rem;

	visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease; 
}
.session-report-icon:hover .open-tab-report{
	visibility: visible;
	opacity: 1;
}

.session-graphs-icon{
    width: 0.75rem;
    height: 0.8rem;
    display: flex;
    align-items: center;
}

.open-tab-graphs {
	width: 19rem;
	border: 0.125rem solid var(--green-02);
    border-radius: 0.5rem;
    color: var(--grey-03);
	background: var(--write);

	font-weight: 300;
    font-size: 1rem;
    text-align: justify;
    
    position: absolute;
    z-index: 1;
    padding: 0.5rem 0.5rem;
    margin-left: 0.8rem;
    margin-top: -17.5rem;

	visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.session-graphs-icon:hover .open-tab-graphs{
	visibility: visible;
	opacity: 1;
}

.session-superfamily-icon{
    width: 0.75rem;
    height: 0.8rem;
    display: flex;
    align-items: center;
}

.open-tab-superfamily {
	width: 19rem;
	border: 0.125rem solid var(--green-02);
    border-radius: 0.5rem;
    color: var(--grey-03);
	background: var(--write);

	font-weight: 300;
    font-size: 1rem;
    text-align: justify;
    
    position: absolute;
    z-index: 1;
    padding: 0.5rem 0.5rem;
    margin-left: 0.8rem;
    margin-top: -7.5rem;

	visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.session-superfamily-icon:hover .open-tab-superfamily{
	visibility: visible;
	opacity: 1;
}

.session-phylogeny-icon{
    width: 0.75rem;
    height: 0.8rem;
    display: flex;
    align-items: center;
}

.open-tab-phylogeny {
	width: 19rem;
	border: 0.125rem solid var(--green-02);
    border-radius: 0.5rem;
    color: var(--grey-03);
	background: var(--write);

	font-weight: 300;
    font-size: 1rem;
    text-align: justify;
    
    position: absolute;
    z-index: 1;
    padding: 0.5rem 0.5rem;
    margin-left: 0.8rem;
    margin-top: -7.5rem;

	visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.session-phylogeny-icon:hover .open-tab-phylogeny{
	visibility: visible;
	opacity: 1;
}

.session-density-icon{
    width: 0.75rem;
    height: 0.8rem;
    display: flex;
    align-items: center;
}

.open-tab-density {
	width: 19rem;
	border: 0.125rem solid var(--green-02);
    border-radius: 0.5rem;
    color: var(--grey-03);
	background: var(--write);

	font-weight: 300;
    font-size: 1rem;
    text-align: justify;
    
    position: absolute;
    z-index: 1;
    padding: 0.5rem 0.5rem;
    margin-left: 0.8rem;
    margin-top: -13.5rem;

	visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.session-density-icon:hover .open-tab-density{
	visibility: visible;
	opacity: 1;
}

/*Dark Theme*/
main.dark-theme{
	background-color: var(--black);
}

.rectangle-green.dark-theme{
	background-color: var(--green-01);
}

.title-data.dark-theme{
	color: var(--grey-02);
	border-bottom: 0.125rem solid var(--green-01);
}

.session-title.dark-theme{
	color: var(--purple-01);
}

header.dark-theme{
	border-bottom: 0.125rem solid var(--green-01);
}

footer.dark-theme{
	border-top: 0.125rem solid var(--green-01);
	color: var(--grey-02);
}

footer.dark-theme a{
	color: var(--orange);
}

.downloaddata.dark-theme{
	background: var(--green-01);
	border: 0.0625rem solid var(--green-01);
}
.non-ltr-data.dark-theme{
	background: var(--green-01);
	border: 0.0625rem solid var(--green-01);
}

.container-compact.dark-theme p{
	color: var(--purple-01);
}

td.dark-theme{
	color: var(--write);
}

.title-td.dark-theme{
	background-color: var(--green-01);
	border-bottom: var(-write);

	font-size: 2rem;
}

.main-tr.dark-theme{
	border-bottom: 0.0625rem solid var(--write);
	color: var(--purple-01);
}

.footer-td.dark-theme{
	border-bottom: 0.0625rem solid var(--write);
}

.table-footer.dark-theme{
	color: var(--write);
}




/* Modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
	background-color: var(--write);
	margin: 10% auto;
	padding: 2rem;
	border: 0.0625rem solid var(--grey-02);
	width: 50%;
	position: relative;

	border-radius: 2rem;
	border-color: 0.0625rem solid var(--grey-03);
  }
  
  .close {
	color: var(--grey-03);
	font-size: 2rem;
	font-weight: bold;
	position: absolute;
	top: 1rem;
	right: 2rem;
	cursor: pointer;
  }
  

  .session-modal{
	text-align: center;
	font-size: 2rem;

	border-bottom: 0.125rem solid var(--green-02);
  }

  .box-information{
	margin-top: 1rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;
  }

  .box-information p{
	font-size: 1.125rem;
	color: var(--grey-03);
  }

  /*==== CÓDIGO NOVO ====*/
.title-data{
	transform: translate(0, -1rem);
	opacity: 0;

	animation: showElementAnimation .3s ease-in-out 0.6s forwards;
}

.zipFormatTitle,
.nonLTRdownload,
.tarGzFormatTitle{
	transform: translate(0, -1rem);
	opacity: 0;

	animation: showElementAnimation .3s ease-in-out 1s forwards;
}

.container-table,
.container-downloaddata,
.wrapper-landscape-img,
.wrapper-ltr-phylogeny,
.wrapper-ltr-density,
.wrapper-ltr-copia,
.wrapper-ltr-gypsy{
	transform: translate(0, -1rem);
	opacity: 0;

	animation: showElementAnimation .3s ease-in-out 1.6s forwards;
}

@media (min-width: 992px) and (max-width: 1199px) {
	html{
		font-size: 93.75%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.aside{
		padding: 0.5rem;
		width: 6rem;

	}
	
	.aside:hover{
		width: 22rem;
	}
	
	#menu{
		margin-top: 1.5rem;
	}
	
	#menu .logoAnnotep img{
		width: 3rem;
		height: 3rem;
	}
	
	aside li{
		gap: 2rem;
		width: 3rem;
		height: 3.5rem;
		font-size: 1rem;
	}
	
	#menu li{
		gap: 1.5rem;
	}
	
	#menu li img{
		width: 1.5rem;
		height: 1.5rem;
	}
	
	aside.expandir li{
		gap: 2rem;
		width: 8rem;
	}
	
	aside.expandir{
		width: 8rem;
	}

	.cloudImageWrapper{
		bottom: 1vh;
		left: 1.5vw;
		padding: 0.7rem;
		width: 3.5rem;
		height: 3.5rem;
	}

	.non-ltr-data {
		width: 18rem;
		height: 3rem;
	}

	table, td, tr, th {
		font-size: 1.2rem;
	}

	.downloaddata {
		font-size: 1rem;
		gap: 0.5rem;
		width: 18rem;
		height: 3rem;
	}

	.Landscape-img {
		width: 40rem;
		height: 30rem;
	}

	.ltr-copia, .ltr-gypsy {
		width: 35rem;
		height: 20rem;
	}

	.ltr-phylogeny, .ltr-density {
		width: 50rem;
		height: 40rem;
	}

	
}

@media (min-width: 481px) and (max-width: 767px){
	.menu-side{
		display: flex;
		position: absolute;
		top: 5vh;
		left: 2rem;
		cursor: pointer;
		z-index: 3;

		animation: showElementAnimation 1s ease-in-out 1s forwards;
	}
	
	.ph-list{
		color: var(--green-01);
		font-size: 2.6rem;
		transition: all 1.2s ease;
	}
	
	.iconColor{
		color: #fff;
		border: 0;
		background:none;
	}

	.aside{
		position: fixed;
		left: -300px;
		width: 14rem;
		height: 100%;
		z-index: 2;

		padding: 1rem;
	}

	.aside:hover{
		width: 14rem;
	}

	aside li a {
		gap: 1rem;
	}

	.showAside{
		transition: 1s;
		left: 0;
	}

	.logoAnnotep img{
		display: none;
	}

	#menu{
		margin-top: 5rem;
	}

	#menu li{
		gap: 1rem;
		width: 100%;
	}

	#menu li:not(:last-child){
		margin-bottom: .5rem;
	}

	#menu li img{
		width: 1.2rem;
		height: 1.2rem;
	}

	.txt-link{
		opacity: 1;
		font-size: 0.8rem;
		visibility: inherit;
	}


	.header .container-header{
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0;
	}

	#logoImage{
		width: 20rem;
	}

	.cloudImageWrapper{
		bottom: 1vh;
		left: 1.5rem;
		padding: 0.7rem;
		width: 3.5rem;
		height: 3.5rem;
	}

	.title-data {
		justify-content: center;
	}

	.container-compact {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}

	.box-compact {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.non-ltr-data {
		width: 18rem;
		height: 3rem;
	}

	table, td, tr, th {
		font-size: 1rem;
	}

	.downloaddata {
		font-size: 1rem;
		gap: 0.5rem;
		width: 18rem;
		height: 3rem;
	}

	.Landscape-img {
		width: 30rem;
		height: 20rem;
	}

	.ltr-copia, .ltr-gypsy {
		width: 25rem;
		height: 15rem;
	}

	.ltr-phylogeny, .ltr-density {
		width: 40rem;
		height: 30rem;
	}

	.open-tab-nonltr {
		margin-left: -17.2rem;
		margin-top: -8.5rem;
	}
	
	.open-tab-report {
		margin-left: -13.2rem;
		margin-top: -10.5rem;
	}
	
	.open-tab-graphs {
		margin-left: -20.2rem;
		margin-top: -20.5rem;
	}
	
	.open-tab-superfamily {
		margin-left: -19.4rem;
		margin-top: -11.5rem;
	}
	
	.open-tab-phylogeny {
		margin-left: -15.5rem;
		margin-top: -10.5rem;
	}
	
	.open-tab-density {
		margin-left: -13.4rem;
		margin-top: -16.5rem;
	}
	
}

@media (min-width: 200px) and (max-width: 480px){
	.menu-side{
		display: flex;
		position: absolute;
		top: 4vh;
		left: 2rem;
		cursor: pointer;
		z-index: 3;

		animation: showElementAnimation 1s ease-in-out 1s forwards;
	}
	
	.ph-list{
		color: var(--green-01);
		font-size: 2.6rem;
		transition: all 1.2s ease;
	}
	
	.iconColor{
		color: #fff;
		border: 0;
		background:none;
	}

	.aside{
		position: fixed;
		left: -300px;
		width: 14rem;
		height: 100%;
		z-index: 2;

		padding: 1rem;
	}

	.aside:hover{
		width: 14rem;
	}

	aside li a {
		gap: 1rem;
	}

	.showAside{
		transition: 1s;
		left: 0;
	}


	#menu li:not(:last-child){
		margin-bottom: .5rem;
	}

	#menu li img{
		width: 1.2rem;
		height: 1.2rem;
	}

	.txt-link{
		opacity: 1;
		font-size: 0.8rem;
		visibility: inherit;
	}


	.header .container-header{
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0;
	}

	#logoImage{
		width: 16rem;
	}

	.cloudImageWrapper{
		bottom: 1vh;
		left: 1.5rem;
		padding: 0.7rem;
		width: 3.5rem;
		height: 3.5rem;
	}

	.title-data {
		justify-content: center;
	}

	.container-compact {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}

	.box-compact {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.non-ltr-data {
		width: 18rem;
		height: 3rem;
	}

	table, td, tr, th {
		font-size: 0.8rem;
	}

	.downloaddata {
		font-size: 1rem;
		gap: 0.5rem;
		width: 18rem;
		height: 3rem;
	}

	.Landscape-img {
		width: 25rem;
		height: 15rem;
	}

	.ltr-copia, .ltr-gypsy {
		width: 20rem;
		height: 12rem;
	}

	.ltr-phylogeny, .ltr-density {
		width: 35rem;
		height: 25rem;
	}

	.title-data {
		font-size: 2rem;
	}

	
}