biopython==1.78
Flask==2.2.5
Flask-Celery==2.4.3
Flask-Mail==0.9.1
Flask-PyMongo==2.3.0
Flask-Script==2.0.6
matplotlib==3.9.3
pandas==2.2.3
python-dotenv==0.20.0
tensorflow==2.18.0
regex==2016.6.24
seaborn==0.12.2
