<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/assets/icon.svg" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/results-page.css') }}" />
    <title> AnnoTEP - Arabidopsis_thaliana </title>

	<script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>
	<div class="menu-side">
		<!--<img class="btn-expand" id="btn-expand" src="../static/genome-results/A_thaliana/Vector.svg">-->
		<i class="ph-bold ph-list"></i>
	</div>
	
	<aside class="aside">
		<ul id="menu">
			<div class="logoAnnotep">
				<a href="#" id="logoLink">
					<img src="../static/assets/icon.svg" alt="Logo do Annotep">
				</a>
			</div>
			<li class="li open" id="Non-LTR">
				<a href="#Non-LTR-section">
					<img class="home-icon" src="../static/assets/icon-dna-sl.svg">
					<span class="txt-link">Annotated data</span>	
				</a>
			</li>
			<li class="li" id="#Report">
				<a href="#Report-section">
					<img class="download-icon" src="../static/assets/Table.svg">
					<span class="txt-link">Report</span>
				</a>
			</li>
			<li class="li" id="Landscape">
				<a href="#Landscape-section">
					<img class="help-icon" src="../static/assets/diagram-icon.svg">
					<span class="txt-link"> Landscape Graphs </span>
				</a>
			</li>
			<li class="li" id="Ltr">
				<a href="#Ltr-section">
					<img class="about-icon" src="../static/assets/diagram.svg">
					<span class="txt-link"> LTR Family </span>
				</a>
			</li>
			<li class="li" id="phylogeny">
				<a href="#phylogeny-section">
					<img class="contact-icon" src="../static/assets/phylogeny-icon.svg">
					<span class="txt-link"> Phylogeny </span>
				</a>
			</li>
			<li class="li" id="density">
				<a href="#density-section">
					<img class="contact-icon" src="../static/assets/Bullseye.svg">
					<span class="txt-link"> Density </span>
				</a>
			</li>
		</ul>
	</aside>

	<div class="cloudImageWrapper">
		<img id="cloudImage" class="replace" src="../static/assets/CloudMoon.svg">
	</div>


	<main class="main">
		<header class="header">
			<section class="container-header">
				<img id="logoImage" class="logo" src="../static/assets/Logo.svg" alt="Logo TEP"/>
		</header>

		
		<section class="container-data" id="Non-LTR-section">
			<div class="title-data">
				<p>Annotated data</p>
			</div>

			<section class="container-compact">
				<div class="nonLTRdownload" style="--delay: 1.2s">
					<a href="../static/genome-results/A_thaliana/Annotated_data.zip" class="non-ltr-data" download="TEs-zip">
						<img class="box-icon" src="../static/assets/download.svg"/>
							Genomic data (.gff3 .fa)
					</a>
				</div>
			</section>
		</section>

		<section class="container-data" id="Report-section">
			<div class="title-data" style="--delay: 2.4s">
				<p>Report</p>
			</div>

			<section class="container-table">
				<table class="table-top">
					<tr>
						<td colspan="4" class="main-td title-td">TEs Report</td>
					</tr>
				</table>

				<div class="table-footer">
					<div class="container-output">
						<pre id="output"></pre>
					</div>
				</div>
				
				<div class="container-downloadreport" style="--delay: 3s">
					<a href="../static/genome-results/A_thaliana/TEs-Report-Complete.txt" class="downloadreport" download="TEs-report-complete.txt">
						<img class="box-icon" src="../static/assets/download.svg"/> 
						Complete Report
					</a>

					<a href="../static/genome-results/A_thaliana/TEs-Report-Lite.txt" class="downloadreport" download="TEs-report-lite">
						<img class="box-icon" src="../static/assets/download.svg"/> 
						Table Simplified
					</a>
				</div>	
			</section>

			<section class="container-report-chart">
				<div class="slider">
					<div class="slides">
						<figure class="wrapper-report-chart slide first" style="--delay: 3.6s">
							<img class="report-img" src="../static/genome-results/A_thaliana/TE-Report1.svg"/>
						</figure>
						<figure class="wrapper-report-chart slide" style="--delay: 3.6s">
							<img class="report-img" src="../static/genome-results/A_thaliana/TE-Report2.svg"/>
						</figure>
						<figure class="wrapper-report-chart slide" style="--delay: 3.6s">
							<img class="report-img" src="../static/genome-results/A_thaliana/TE-Report1-bubble.svg"/>
						</figure>
						<figure class="wrapper-report-chart slide" style="--delay: 3.6s">
							<img class="report-img" src="../static/genome-results/A_thaliana/TE-Report2-bubble.svg"/>
						</figure>
					</div>

					<button id="prev-slide" class="prev-slide">❮</button>
        			<button id="next-slide" class="next-slide">❯</button>
				</div>

				<div class="container-downloadreport" style="--delay: 3.9s">
					<a href="../static/genome-results/A_thaliana/TE-Report1.svg" class="downloadreport" download="Bar-Chart-1">
						<img class="box-icon" src="../static/assets/download.svg"/> 
						Bar Chart 1
					</a>
				
					<a href="../static/genome-results/A_thaliana/TE-Report2.svg" class="downloadreport" download="Bar-Chart-2">
						<img class="box-icon" src="../static/assets/download.svg"/> 
						Bar Chart 2
					</a>
				
					<a href="../static/genome-results/A_thaliana/TE-Report1-bubble.svg" class="downloadreport" download="Bubble-Chart-1">
						<img class="box-icon" src="../static/assets/download.svg"/> 
						Bubble Chart 1
					</a>
				
					<a href="../static/genome-results/A_thaliana/TE-Report2-bubble.svg" class="downloadreport" download="Bubble-Chart-2">
						<img class="box-icon" src="../static/assets/download.svg"/> 
						Bubble Chart 2
					</a>
				</div>	
			</section>
		</section>

		<section class="container-data" id="Landscape-section">
			<div class="title-data" style="--delay: 3.3s">
				<p>Landscape Graphs</p>
			</div>

			<section class="container-landscape">
				<figure class="wrapper-landscape-img" style="--delay: 3.6s">
					<img class="Landscape-img" src="../static/genome-results/A_thaliana/RLandScape.svg"/>
				</figure>

				<div class="container-downloaddata" style="--delay: 3.9s">
					<a href="../static/genome-results/A_thaliana/RLandScape.svg" download="RLandScape.svg">
						<button type="button" id="" class="downloaddata">
							<img class="box-icon" src="../static/assets/download.svg"/> 
							Landscape Graphs 
						</button>
					</a>
				</div>
			</section>
		</section>

		<section class="container-data" id="Ltr-section">
			<div class="title-data" style="--delay: 4.2s">
				<p>LTR SuperFamily</p>
			</div>

			<section class="container-ltrfamily">
				<div class="slider-2">
					<div class="slides-2">
						<figure class="slide-2 first">
							<img class="ltr-copia" src="../static/genome-results/A_thaliana/AGE-Copia.svg"/>
						</figure>
						<figure class="slide-2">
							<img class="ltr-gypsy" src="../static/genome-results/A_thaliana/AGE-Gypsy.svg"/>
						</figure>
					</div>
					<button id="prev-slide-2" class="prev-slide">❮</button>
        			<button id="next-slide-2" class="next-slide">❯</button>
				</div>
		
				<div class="container-downloaddata container-family" style="--delay: 5s">
					<a href="../static/genome-results/A_thaliana/AGE-Copia.svg" class="downloaddata" download="TES-family-copia">
						<img class="box-icon" src="../static/assets/download.svg"/> 
						LTR Superfamily Copia
					</a>
					<a href="../static/genome-results/A_thaliana/AGE-Gypsy.svg" class="downloaddata" download="TES-family-gypsy">
						<img class="box-icon" src="../static/assets/download.svg"/> 
						LTR Superfamily Gypsy
					</a>
				</div>
			</section>
		</section>

		<section class="container-data" id="phylogeny-section">
			<div class="title-data" style="--delay: 5.3s">
				<p>LTR Phylogeny</p>
			</div>

			<section class="container-phylogeny">
				<div class="slider-3">
					<div class="slides-3">
						<figure class="wrapper-ltr-phylogeny slide-3 first" style="--delay: 5.6s">
							<img class="ltr-phylogeny" src="../static/genome-results/A_thaliana/LTR_RT-Tree1.svg"/>
						</figure>
						<figure class="wrapper-ltr-phylogeny slide-3" style="--delay: 5.6s">
							<img class="ltr-tree-rectangular" src="../static/genome-results/A_thaliana/LTR_RT-Tree3.svg"/>
						</figure>
						<figure class="wrapper-ltr-phylogeny slide-3" style="--delay: 5.6s">
							<img class="ltr-tree-rectangular" src="../static/genome-results/A_thaliana/LTR_RT-Tree4.svg"/>
						</figure>
					</div>

					<button id="prev-slide-3" class="prev-slide">❮</button>
        			<button id="next-slide-3" class="next-slide">❯</button>
				</div>
				
				<div class="container-ltrtree" style="--delay: 5.9s">
					<a href="../static/genome-results/A_thaliana/LTR_RT-Tree1.svg" class="downloadltrtree" download="LTR-Phylogenetic-tree-circular">
						<img class="box-icon" src="../static/assets/download.svg"/> 
						LTR-Phylogenetic tree - circular 
					</a>
				
					<a href="../static/genome-results/A_thaliana/LTR_RT-Tree3.svg" class="downloadltrtree" download="LTR-Phylogenetic-tree-rectangularA">
						<img class="box-icon" src="../static/assets/download.svg"/> 
						LTR-Phylogenetic tree - rectangular A 
					</a>
				
					<a href="../static/genome-results/A_thaliana/LTR_RT-Tree4.svg" class="downloadltrtree" download="LTR-Phylogenetic-tree-rectangularB">
						<img class="box-icon" src="../static/assets/download.svg"/> 
						LTR-Phylogenetic tree - rectangular B 
					</a>
				</div>
			</section>
		</section>

		<section class="container-data" id="density-section">
			<div class="title-data" style="--delay: 6.2s">
				<p>LTR Phylogenetic tree - Density</p>
			</div>

			<section class="container-density">
				<figure class="wrapper-ltr-density" style="--delay: 6.4s">
					<img class="ltr-density" src="../static/genome-results/A_thaliana/LTR_RT-Tree2.svg"/>
				</figure>
		
				<div class="container-downloaddata" style="--delay: 6.6s">
					<a href="../static/genome-results/A_thaliana/LTR_RT-Tree2.svg" download="LTR-Phylogenetic-Density">
						<button type="button" id="" class="downloaddata">
							<img class="box-icon" src="../static/assets/download.svg"/> 
							LTR-Phylogenetic tree - Density
						</button>
					</a>
				</div>
			</section>
		</section>

		<footer class="footer">
			<div class="cite-us">
			
			</div>
		</footer>

	</main>

	<script type="text/javascript" src="{{ url_for('static', filename='scripts/results/example-results.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/results/styles.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/results/dark-theme.js')}}"></script>
</body>
</html>
